*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background: #75a8d3;
}
.box{
    width: 590px;
    height: 470px;
    margin: 50px auto;
}
.img{
    position: absolute;
}
.img img{
    display: none;
}
.img .block{
    display: block;
}

.img .hidden{
    display: none;
}

ul{
    width: 90px;
    height: 15px;
    line-height: 15px;
    position: relative;
    left: 50%;
    top: 445px;
    margin-left: -45px;
}

ul li{
    width: 10px;
    height: 10px;
    border-radius: 25px;
    border: 1px solid #ffffff;
    float: left;
    margin-right: 5px;
}
a{
    color: #000000;
    font-size: 2em;
    position: relative;
    top: 190px;
}

.left{
    left: 15px;
}

.right{
    left: 530px;
}

.active{
    background: #ffffff;
}